.account-settings-container {
    background-image: url('../images/shadowisles.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    padding: 20px; 
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 100%;
    max-width: 640px; /* Limit the form width */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 40px 60px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-size: 1rem;
    margin-bottom: 5px;
}

.form-group input {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.btn {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 30px;
}

.btn:hover {
    background-color: #0056b3;
}

.form-group:last-child {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    form {
        padding: 15px;
    }

    .form-group input {
        font-size: 0.9rem;
        padding: 8px;
    }

    .btn {
        font-size: 0.9rem;
        padding: 8px 15px;
    }
}