{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
  <!-- Main Content for PROFILE PAGE -->
  <div class="profile-container">
        <form method="POST" enctype="multipart/form-data" id="avatarForm" style="margin: 0;">
      {{ form.hidden_tag() }}
      <input type="file" id="avatarInput" name="profile_image"
            accept="image/*" style="display: none;"
            onchange="document.getElementById('avatarForm').submit();">
      <label for="avatarInput" style="cursor: pointer;">
            {% if current_user.profile_image and current_user.profile_image != 'no_profile_pic.jpg' %}
      <img src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}"
          alt="User" class="profile_picture">
    {% else %}
      <img src="{{ url_for('static', filename='images/no_profile_pic.jpg') }}"
          alt="User" class="profile_picture">
    {% endif %}
      </label>
    </form>
    <div class="profile-details">
      <div class="nameId-container">
        <h1><strong>Username:</strong> {{ user.username }}</h1>
      </div>
      <div class="nameId-container">
        <h1><strong>Email:</strong> {{ user.email }}</h1>
      </div>
      <div class="account-settings-container">
        <a href="{{ url_for('main_bp.account_settings') }}" class="btn btn-primary">Account Settings</a>
      </div>
    </div>
  </div>


  <div class="profile-info-container">
    <div class="game-container">
      <div class="game-title-container">
        <h1 class="game-title"> League of Legends </h1>
      </div>
      <div class="user-info">
        <h2> Username: {{user.league_username}} </h2>
      </div>
      <div class="champion-container">
        <h3>Stats:</h3>
        <ul>
          <li>Kills: {{ total_kills }}</li>
          <li>Deaths: {{ total_deaths }}</li>
          <li>Assists: {{ total_assists }}</li>
          <li>KDA: {{ avg_kda }}</li>
          <li>Most Played Champion: {{ most_played }}</li>
          
        </ul>
      </div>
    </div>

    <div class="game-container">
      <div class="game-title-container">
        <h1 class="game-title"> Valorant </h1>
      </div>
      <div class="user-info">
        <h2> Username: {{user.valorant_username}} </h2>
      </div>
      <div class="champion-container">
      </div>
    </div>

    <div class="game-container">
      <div class="game-title-container">
        <h1 class="game-title"> Apex Legends </h1>
      </div>
      <div class="user-info">
        <h2> Username: {{user.apex_username}} </h2>
      </div>
      <div class="champion-container">
      </div>
    </div>

    <div class="game-to-be-added">
      <div class="user-info">
        <h2> New games coming soon... </h2>
      </div>
    </div>
  </div>
{% endblock %}
