{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
  <!-- Main Content for PROFILE PAGE -->
  <div class="profile-container">
      <h1>{{ user.username }}'s Profile</h1>

      <!-- Display Profile Picture -->
      <div class="profile-pic">
          {% if user.profile_pic %}
          <img src="{{ url_for('static', filename='uploads/profile_pics/' + user.profile_pic) }}" alt="Profile Picture">
          {% else %}
          <img src="{{ url_for('static', filename='default_profile.png') }}" alt="Default Profile Picture">
          {% endif %}
      </div>

      <!-- Upload Profile Picture Form -->
      <form action="{{ url_for('main_bp.upload_profile_pic') }}" method="POST" enctype="multipart/form-data">
          <label for="profile_pic">Upload Profile Picture:</label>
          <input type="file" name="profile_pic" id="profile_pic" accept="image/*">
          <button type="submit">Upload</button>
      </form>
  </div>


  <div class="profile-info-container">
    <div class="game-container">
      <div class="game-title-container">
        <h1 class="game-title"> League of Legends </h1>
      </div>
      <div class="user-info">
        <h2> Username: {{user.league_username}} </h2>
      </div>
      <div class="champion-container">
        <h3>Stats:</h3>
        <ul>
          <li>Kills: {{ user.kills }}</li>
          <li>Deaths: {{ user.deaths }}</li>
          <li>Assists: {{ user.assists }}</li>
          <li>KDA: {{ user.kda }}</li>
        </ul>
      </div>
    </div>

    <div class="game-container">
      <div class="game-title-container">
        <h1 class="game-title"> Valorant </h1>
      </div>
      <div class="user-info">
        <h2> Username: {{user.valorant_username}} </h2>
      </div>
      <div class="champion-container">
      </div>
    </div>

    <div class="game-container">
      <div class="game-title-container">
        <h1 class="game-title"> Apex Legends </h1>
      </div>
      <div class="user-info">
        <h2> Username: {{user.apex_username}} </h2>
      </div>
      <div class="champion-container">
      </div>
    </div>

    <div class="game-to-be-added">
      <div class="user-info">
        <h2> New games coming soon... </h2>
      </div>
    </div>
  </div>
{% endblock %}
