{% extends "base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block content %}
  <!-- Main Content for PROFILE PAGE -->
  <div class="profile-container">
    <img src="{{ url_for('static', filename='images/no_profile_pic.jpg') }}" alt="User" class="profile_picture">
    <div class="profile-details">
      <div class="nameId-container">
        <h1><strong>Username:</strong> {{ user.username }}</h1>
      </div>
      <div class="nameId-container">
        <h1><strong>Email:</strong> {{ user.email }}</h1>
      </div>
    </div>
  </div>


  <div class="profile-info-container">
    <div class="game-container">
      <div class="game-title-container">
        <h1 class="game-title"> League of Legends </h1>
      </div>
      <div class="user-info">
        <h2> Username: andygibbo </h2>
      </div>
      <div class="champion-container">
      </div>
    </div>

    <div class="game-container">
      <div class="game-title-container">
        <h1 class="game-title"> Apex Legends </h1>
      </div>
      <div class="user-info">
        <h2> Username: andygibbo </h2>
      </div>
      <div class="champion-container">
      </div>
    </div>

    <div class="game-container">
      <div class="game-title-container">
        <h1 class="game-title"> Other Game </h1>
      </div>
      <div class="user-info">
        <h2> Username: andygibbo </h2>
      </div>
      <div class="champion-container">
      </div>
    </div>

    <div class="game-to-be-added">
      <div class="user-info">
        <h2> New games coming soon... </h2>
      </div>
    </div>
  </div>
{% endblock %}
