<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>

<body>
    <!-- Back Button -->
    <a href="{{ url_for('index') }}" class="back-button">Back</a>


    <div class="container">
        <!-- Login card containing the form -->
        <div class="login-card">
            <h2>Register</h2>
            <form method="Post">
                <!-- Form group for username -->
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <!-- Form group for password -->
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password:</label>
                    <input type="password" id="confirm_password" name="confirmPassword" required>
                </div>
                <!-- Submit button for the form -->
                <div class="form-group">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</body>

</html>