<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>

<body>
    <!-- Back Button -->
    <a href="{{ url_for('auth_bp.login') }}" class="back-button">Back</a>


    <div class="container">
        <!-- Login card containing the form -->
        <div class="login-card">
            <h2>Register</h2>
            <form method="POST" action="{{ url_for('auth_bp.register') }}">
                {{ form.hidden_tag() }}
                <!-- Form group for username -->
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>

                <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                </div>

                <!-- Form group for password -->
                <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                </div>

                <div class="form-group">
                {{ form.confirm_password.label }}
                {{ form.confirm_password(class="form-control") }}
                {% for error in form.confirm_password.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
                </div>

                <!-- Submit button for the form -->
                <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</body>

</html>