{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/visualisation.css') }}">
{% endblock %}

{% block content %}
<main class="main-container">

    
    <script type="application/json" id="chart-data">
  {
    "championCounts": {{ champion_counts | tojson | safe }},
    "winRates": {{ win_rates | tojson | safe }},
    "radarData": {{ radar_data | tojson | safe }}
  }
</script>


    
    <div class="secondary-container">

        
        <div class="data-container-1"> 
            <div class="overall-win-rate">
                <div class="overall-win-rate-left">
                    <h1> Win Rate </h1>
                </div>
                <div class="overall-win-rate-right">
                    <h1> {{ win_rate }}% </h1> 
                </div>
            </div>

            <div class="previous-game-scores">
                <div class="previous-game-title-box">
                    <h1>Previous Game Results</h1>
                </div>

                <div class="table-div">
                    <table class="previous-game-table">
                        <thead>
                            <tr>
                                <th>Result</th>
                                <th>Champion</th>
                                <th style="white-space: nowrap;">Score (K-D-A)</th>
                                <th>Date</th>
                                <th>Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in rows %}
                            <tr>
                                <td>{{ row.result }}</td>
                                <td>{{ row.champion }}</td>
                                <td>{{ row.score }}</td>
                                <td>{{ row.date }}</td>
                                <td>{{ row.time }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="5">No data available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>


                <div class="bottom-container-prev-games"></div>
            </div>
        </div>

        <!-- Total Wins -->
        <div class="data-container-2"> 
            <div class="overall-win-rate">
                <div class="overall-win-rate-left">
                    <h1> Total Wins </h1>
                </div>
                <div class="overall-win-rate-right">
                    <h1> {{ total_wins }} </h1> 
                </div>
            </div>

            <div class="previous-game-scores">
                <div class="previous-game-title-box">
                    <h1>Previous Game Results</h1>
                </div>
                <div class="radar-chart-container">
                <h2>Performance Radar </h2>
                <canvas id="performanceRadar"></canvas>
                </div>
                
                <div class="bottom-container-prev-games"></div>
                
            </div>
            
        </div>
    </div>

    
    <div class="charts-section">
        <h2>Champion Usage</h2>
        <canvas id="championBarChart"></canvas>

        <h2>Champion Win Rates</h2>
        <canvas id="championPieChart"></canvas>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/visualisation.js') }}"></script>
</main>
{% endblock %}
